body{
	margin: 0;
	background-color: black;

}

.header{
	background-image: url("index.jpeg");
	width: 100%;
	height: 450px;
	border-bottom: 8px solid #757472;
	
}
.logoimg{

width: 50%;
height: 120px;
}
.sign-in{
	background-color: black;
	width: 50%;
	height: 120px;
}
#select{
	margin-left: 400px;
	margin-top: 20px;
	width: 90px;
	height: 40px;text-header
	background: transparent;
}
#btn{
	margin-top: 20px;
	width: 90px;
	height: 40px;
	background-color: #e50914;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 8px;
}
.text-header{
	width: 500px;
	height: 200px;
	margin-top: 35px;
	margin-left: 400px;
	color: white;
}
.sec-1{
	display: inline-flex;
	margin: 0;
	width: 100%;
	height: 350px;
	background-color: black;
	border-bottom: 8px solid #757472;
	padding-top: 40px;
}

.text-sec-1{
	width: 50%;
	padding-top: 50px;
	text-align: center;
	color: white;
}
.vid-sec-1{
	width: 50%;
	height: 190px;
	padding-left: 270px;
	padding-top: 40px;
}
.sec-2{
	display: flex;
	width: 100%;
	height: 350px;
	background-color: black;
	border-bottom: 8px solid #757472;
	padding-top: 40px;
}
.vid-sec-2{
	width: 50%;
	height: 100%;
	
}
.box{
	display:flex;
	width: 250px;
	height: 75px;
	margin-left: 110px;
	background-color: #000;
	margin-top: -50px;
	border: 2px solid rgba(255,255,255,.25);
	border-radius: 8px;
	border-top:2px solid rgba(255,255,255,.25);
}
.text-sec-2{
width: 50%;
height: 100%;
background-color: red;
color: white;
}
.sec-3{
	display: flex;
	width: 100%;
	height: 350px;
	background-color: black;
	border-bottom: 8px solid #757472;
	padding-top: 40px;
}
.text-sec-3{
	width: 50%;
	height: 200px;
	text-align: center;
}
.sec-4{
display: flex;
	width: 100%;
	height: 350px;
	background-color: black;
	border-bottom: 8px solid #757472;
	padding-top: 40px;
	}
	.sec-5{
		width: 100%;
		height: 690px;
		background-color: black;
		padding-top: 15px;
		padding-left: 200px;
		border-bottom: 8px solid #757472;
		
	}
	.btnl{
		padding: 20px 30px;
		margin: 5px;
		margin-left: 95px;
		font-size: 1rem;
		background-color: #303030;
		color: white;
		text-align: left;
		width: 55%;
		border: none;
		align-items: center;
	}
	footer{
		width:100%;
		height:320px;
		background: black;
		padding-left: 100px;
	}
	.a-foot{
		color:#757575;
		margin: 15px;
		text-decoration: none;
	
	}
	.foot-text{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1.5rem;
		line-height: 2.5rem;
	}
	.sel{
		background-color: transparent;
		color: #757575;
		width: 100px;
		height: 35px;
		font-size: 18px;
	}